@import url('https://fonts.googleapis.com/css?family=Mandali&display=swap');

:root {
    --main: #0077ff;
    --alt: #a9a9a9;
    --light: #f9f9f9;
    --dark: #141414;
}

body {
    padding: 0;
    margin: 0;
    background: var(--dark);
    color: var(--light);
    min-height: 100vh;
    font-family: 'Mandali', sans-serif;
    transition: background .5s;
}

.default-layout {
    box-sizing: border-box;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
}


.default-container {
    max-width: 1120px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--dark);
    color: var(--light);
    padding: 10px 50px;
    box-sizing: border-box;
    transition: background .5s;

    .logo {
        color: var(--light);
        font-size: 1.25rem;
        font-weight: bold;

        .fa-list-alt {
            margin-right: 5px;
        }
    }

    nav {
        display: flex;

        a {
            color: white;
            align-self: center;
        }
    }
}

.todos {
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    max-width: 600px;
    display: block;

    .title {
        margin-bottom: 0;
    }
    
    .todo-input {
        width: 100%;
        border: 1px solid var(--alt);
        border-radius: 2px 2px 0 0;
        height: 40px;
        padding: 25px 10px;
        font-size: 1.25rem;
        box-sizing: border-box;
        background: #383838;
        color: var(--light);
    }
    
    .todos-list {
        display: flex;
        flex-direction: column;
        width: 100%;
    
        .todo-item {
            background: var(--light);
            box-sizing: border-box;
            width: 100%;
            padding: 10px;
            color: var(--dark);
            border-left: 10px solid var(--alt);
            border-bottom: 1px solid var(--alt);
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            transition: background .5s;

            .todo-right {

                .todo-btn {
                    background: none;
                    border: none;
                    font-weight: bold;
                    color: red;
                    font-size: 1.1rem;
                    outline: none;
                    cursor: pointer;
                }
    
                .todo-edit-btn {
                    background: none;
                    border: none;
                    font-weight: bold;
                    color: var(--main);
                    font-size: 1.1rem;
                    outline: none;
                    cursor: pointer;
                }

                .todo-complete-btn {
                    background: none;
                    border: none;
                    font-weight: bold;
                    color: green;
                    font-size: 1.1rem;
                    outline: none;
                    cursor: pointer;
                }
            }

        }
    }

    .todo-actions {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 10px 0;

        .todo-batch-btn {
            background: var(--light);
            border: none;
            border-radius: 2px;
            color: var(--dark);
            font-weight: bold;
            padding: 5px 10px;
            cursor: pointer;

            &:hover {
                color: var(--main);
            }
        }

        .delete-batch-btn {
            margin-left: 10px;
        }
    }

}